.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .recipe {
      margin: 1em;
      padding:5em;
      border: 4px solid rgb(40, 104, 146);
  }

  .recipe__name {
    border-bottom: 4px solid rgb(40, 104, 146);
}