.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .recipe {
      margin: 0.5em;
      padding:0.5em;
      border: 2px solid rgb(40, 104, 146);
      border-radius: 1em;
      background-color: whitesmoke;
  }

  .recipe__name {
    margin: 1em;
    padding:0.5em;
    border-bottom: 4px solid rgb(40, 104, 146);
}

.recipe__editbutton {
    margin: 2em;
}

.favoriteBtn {
    margin: 0.5em;
}

.addRecipeBtn {
    margin: 0.5em;
}

