@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.searchContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
} 

body {
    background-color: rgba(197, 203, 206, 0.883) !important;
}

.pageTitle {
    color: rgb(40, 104, 146);
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 7em;
}

.displayContainer {
    justify-content: space-evenly;
    display: flex;
}
