.searchContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
} 

/* body {
    background: url(https://image.shutterstock.com/image-photo/light-blue-textured-bakery-recipe-600w-454826119.jpg) no-repeat center center fixed;
    background-size: cover;
} */